<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <title>添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/Public/static/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/Public/static/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form layui-form-pane" style="width:90%;padding-left: 5%;">
	<div class="layui-form-item">
        <label class="layui-form-label" for="code">数量</label>
        <div class="layui-input-block">
            <input type="number" id="num" placeholder="请输入数量"  autocomplete="off" value=""  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接口</label>
        <div class="layui-input-block">
            <if condition="$config.id eq 1">
                <input type="radio" name="aid" value="1" title="1号接口" checked>
                <input type="radio" name="aid" value="2" title="2号接口">
            <else />
                <input type="radio" name="aid" value="1" title="1号接口">
                <input type="radio" name="aid" value="2" title="2号接口" checked>
            </if>
        </div>
    </div>
    <div class="layui-form-item lfiapi-{$config.id}">
        <label class="layui-form-label">绑定项目</label>
        <div class="layui-input-block">
            <select name="projectid" lay-filter="project">
                <option value="">请选择绑定项目</option>
                <volist name="project" id="item">
                    <option value="{$item.vals}">{$item.name}</option>
                </volist>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" for="code">长度</label>
        <div class="layui-input-block">
            <input type="number" id="length" placeholder="请输入卡密长度"  autocomplete="off" value=""  class="layui-input">
            <button type="button" class="layui-btn" style="margin-top: 10px;" id="btn">生成卡密</button>
        </div>
    </div>
<!--    <div class="layui-form-item" style="margin-top: 30px;">-->
<!--        <div class="layui-input-block">-->
<!--            <button class="layui-btn" lay-submit="" lay-filter="addData">提交</button>-->
<!--            <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
<!--        </div>-->
<!--    </div>-->
</form>
<script type="text/javascript" src="/Public/static/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/Public/static/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form','layer','laydate','upload','layedit'],function(){
        let form = layui.form,
		laydate = layui.laydate,
		upload = layui.upload,
            layedit = layui.layedit,
        layer = parent.layer === undefined ? layui.layer : top.layer;
        var $ = layui.jquery;
        let aid = {$config.id};
        let projectid = '';
        form.on('radio', function(data){
            let dom = $('.lfiapi-'+aid);
            dom.addClass('lfiapi-'+data.value);
            dom.removeClass('lfiapi-'+aid);
            if (data.value == 1) {
                dom.show();
            } else {
                dom.hide();
            }
            aid = data.value;
        });
        form.on('select(project)', function(data){
            projectid = data.value
        }); 

        $("#btn").click(function(){
            var num = $("#num").val();
            var length = $("#length").val();
            if(num=='' || length==''){
                layer.msg('请填全信息');
                return false;
            }
            if (aid != 1) {
                projectid = '';
            }
            let index = layer.msg('生成中，请稍候',{icon: 16,time:false});
            $.post('/admin/code/getcode',{num:num,length:length,aid:aid,projectid:projectid},function(res){
                layer.close(index);
                if(0 === res.code){
                    layer.msg(res.msg,{icon:6,time:2000});
                     const elt = document.createElement('a');
					elt.setAttribute('href', res.url);
					elt.setAttribute('download', res.file);
					elt.style.display = 'none';
					document.body.appendChild(elt);
					elt.click();
					document.body.removeChild(elt);
                    setInterval(function(){
                        parent.layer.closeAll();
                        window.parent.tablist.reload();
                    },2000)
                }else{
                    layer.msg(res.msg,{icon:5,time:2000});
                }
            })
        })

    });



</script>
</body>
</html>