<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基础设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/Public/static/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/Public/static/css/public.css" media="all" />
    <style> .layui-form-label {
        width: 160px !important;
    }

    .layui-input-block {
        margin-left: 160px !important;
    }
    .item-flex{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .form-label {
        width: 15%;
        padding: 8px 15px;
        height: 38px;
        line-height: 20px;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px 0 0 2px;
        text-align: center;
        border-color: #e6e6e6;
        background-color: #FBFBFB;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }
    .input-block{
        width: 50%;
    }
    .form-name{
        width: 15%;
        margin-left: 5%;
    }
    .form-title{
        width: 10%;
        margin-left: 5%;
    }
    </style>
</head>
<body class="childrenBody">

<form class="layui-form layui-form-pane" style="width:60%;padding-left: 10%; margin-top: 20px;" >
    <volist name="list" id="v" key="k">
        <div class="layui-form-item item-flex">
            <label class="form-label">{$v.title}</label>
            <div class="input-block">
                <input type="text" name="{$v.name}" id="time" placeholder="请输入{$v.title}"  autocomplete="off"  maxlength="255" value="{$v.value}"  class="layui-input">
            </div>
            <div class="form-name">{$v.name}</div>
            <div class="form-title close-btn" data-name="{$v.name}"><i class="layui-icon layui-icon-close layui-bg-red"></i></div>
        </div>
    </volist>
    <div class="layui-form-item" style="margin-top: 30px;">
        <div class="layui-input-block">
            <button class="layui-btn layui-bg-red addconf">添加配置</button>
            <button class="layui-btn" lay-submit="" lay-filter="addData">保存配置</button>
        </div>
    </div>
</form>
<script type="text/html" id="addtpl">
    <form class="layui-form layui-form-pane layui-form-tpl" action="" id="add-tpl" style="width: 96%;margin: auto;margin-top: 10px;">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
              <input type="text" name="title" lay-verify="required" id="add-title" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">变量名</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" id="add-name" autocomplete="off" placeholder="请输入变量名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">变量值</label>
            <div class="layui-input-block">
                <input type="text" name="value" lay-verify="required" id="add-value" autocomplete="off" placeholder="请输入变量值" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
              <textarea placeholder="请输入描述" name="tip" id="add-tip" class="layui-textarea"></textarea>
            </div>
        </div>
    </form>
</script>
<script type="text/javascript" src="/Public/static/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/Public/static/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form','layer','laydate','upload','layedit','laytpl'],function(){
        let form = layui.form,
            laydate = layui.laydate,
            upload = layui.upload,
            layedit = layui.layedit,
            laytpl = layui.laytpl;
            layer = parent.layer === undefined ? layui.layer : top.layer;

        form.on("submit(addData)",function(data){
            let index = layer.msg('数据提交中，请稍候',{icon: 16,time:false});
            $.post("/admin/config/index",data.field,function(res){
                layer.close(index);
                window.parent.window.parent.toast(res.msg,res.code);
                layer.close(index);
                if(0 === res.code){
                    window.location.reload();
                }
            });
            return false;
        });

        $('.close-btn').click(function() {
            var obj = $(this);
            layer.confirm('是否删除当前配置?', {icon: 3, title:'删除提示'}, function(index){
                let name = obj.data('name');
                $.post('/admin/config/del',{name:name},function(res){
                    layer.close(index);
                    if(0 === res.code){ 
                        layer.msg(res.msg,{icon: 6,time:2000});
                        obj.parents('.item-flex').remove();
                        return false;
                    }else{
                        layer.msg(res.msg,{icon:5,time:2000});
                        return false;
                    }
                })

                
            });
        });

        $('.addconf').click(function(){
            var tmp = addtpl.innerHTML;
            var data = {};
            laytpl(tmp).render(data, function(html){
              tmp.innerHTML = html;
            });
            layer.open({
                type: 1,
                title: false,
                closeBtn: false,
                area: '400px;',
                shade: 0.8,
                id: 'LAY_layuipro',
                btn: ['添加', '取消'],
                btnAlign: 'c',
                moveType: 1,
                content: tmp,
                yes: function(index,layero){
                    var addtitle = layero.find('#add-title');
                    var addname = layero.find('#add-name');
                    var addval = layero.find('#add-value');
                    var addtip = layero.find('#add-tip');
                    var dataJson = {
                        title:$(addtitle).val(),
                        name:$(addname).val(),
                        value:$(addval).val(),
                        tip:$(addtip).val()
                    }
                    $.post('/admin/config/add',dataJson,function(res){
                        layer.close(index);
                        if(0 === res.code){ 
                            layer.msg(res.msg,{icon: 6,time:2000});
                            setTimeout(function(){
                                window.location.reload();
                            },2000)
                            return false;
                        }else{
                            layer.msg(res.msg,{icon:5,time:2000});
                            return false;
                        }
                    });
                     
                }
            });
        });
        
    });

    $("#btn").click(function(){
        let index = layer.msg('获取中，请稍候',{icon: 16,time:false});
        $.post('/admin/api/gettoken',{},function 
            (res) {
            layer.close(index);
            if(0 === res.code){ 
                layer.msg(res.msg,{icon: 6,time:2000});
                $("#token").val(res.token);
                return false;
            }else{
                layer.msg(res.msg,{icon:5,time:2000});
                return false;
            }
        })
    })


</script>
</body>
</html>